@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light dark;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
}


.animate-shine{
  background-size: 200% 100%;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 200% 150%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 0;
  }
}